apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: keycloakresources.rustcloak.k8s.eboland.de
spec:
  group: rustcloak.k8s.eboland.de
  names:
    categories: []
    kind: KeycloakResource
    plural: keycloakresources
    shortNames:
    - kcrs
    singular: keycloakresource
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: ''
      jsonPath: .status.ready
      name: Ready
      type: boolean
    - description: ''
      jsonPath: .status.status
      name: Status
      type: string
    - description: ''
      jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1
    schema:
      openAPIV3Schema:
        description: resource to define a Resource within a [KeyclaokClient](./keycloakclient.md)
        properties:
          spec:
            description: the KeycloakResource resource
            properties:
              clientRef:
                description: the name of the kubernetes object that created the client.
                type: string
              definition:
                properties:
                  _id:
                    nullable: true
                    type: string
                    x-kubernetes-validations:
                    - message: Value is immutable
                      rule: self == oldSelf
                  attributes:
                    additionalProperties:
                      items:
                        type: string
                      type: array
                    nullable: true
                    type: object
                  displayName:
                    nullable: true
                    type: string
                  icon_uri:
                    nullable: true
                    type: string
                  name:
                    nullable: true
                    type: string
                  owner:
                    nullable: true
                    properties:
                      id:
                        nullable: true
                        type: string
                      name:
                        nullable: true
                        type: string
                    type: object
                  ownerManagedAccess:
                    nullable: true
                    type: boolean
                  scopes:
                    items:
                      properties:
                        displayName:
                          nullable: true
                          type: string
                        iconUri:
                          nullable: true
                          type: string
                        id:
                          nullable: true
                          type: string
                        name:
                          nullable: true
                          type: string
                        policies:
                          items:
                            properties:
                              config:
                                additionalProperties:
                                  type: string
                                nullable: true
                                type: object
                              decisionStrategy:
                                enum:
                                - AFFIRMATIVE
                                - UNANIMOUS
                                - CONSENSUS
                                nullable: true
                                type: string
                              description:
                                nullable: true
                                type: string
                              id:
                                nullable: true
                                type: string
                              logic:
                                enum:
                                - POSITIVE
                                - NEGATIVE
                                nullable: true
                                type: string
                              name:
                                nullable: true
                                type: string
                              owner:
                                nullable: true
                                type: string
                              policies:
                                items:
                                  type: string
                                nullable: true
                                type: array
                              resources:
                                items:
                                  type: string
                                nullable: true
                                type: array
                              scopes:
                                items:
                                  type: string
                                nullable: true
                                type: array
                              type:
                                nullable: true
                                type: string
                            type: object
                            x-kubernetes-preserve-unknown-fields: true
                          nullable: true
                          type: array
                      type: object
                    nullable: true
                    type: array
                  scopesUma:
                    items:
                      properties:
                        displayName:
                          nullable: true
                          type: string
                        iconUri:
                          nullable: true
                          type: string
                        id:
                          nullable: true
                          type: string
                        name:
                          nullable: true
                          type: string
                        policies:
                          items:
                            properties:
                              config:
                                additionalProperties:
                                  type: string
                                nullable: true
                                type: object
                              decisionStrategy:
                                enum:
                                - AFFIRMATIVE
                                - UNANIMOUS
                                - CONSENSUS
                                nullable: true
                                type: string
                              description:
                                nullable: true
                                type: string
                              id:
                                nullable: true
                                type: string
                              logic:
                                enum:
                                - POSITIVE
                                - NEGATIVE
                                nullable: true
                                type: string
                              name:
                                nullable: true
                                type: string
                              owner:
                                nullable: true
                                type: string
                              policies:
                                items:
                                  type: string
                                nullable: true
                                type: array
                              resources:
                                items:
                                  type: string
                                nullable: true
                                type: array
                              scopes:
                                items:
                                  type: string
                                nullable: true
                                type: array
                              type:
                                nullable: true
                                type: string
                            type: object
                            x-kubernetes-preserve-unknown-fields: true
                          nullable: true
                          type: array
                      type: object
                      x-kubernetes-preserve-unknown-fields: true
                    nullable: true
                    type: array
                  type:
                    nullable: true
                    type: string
                  uri:
                    nullable: true
                    type: string
                  uris:
                    items:
                      type: string
                    nullable: true
                    type: array
                type: object
                x-kubernetes-validations:
                - message: Value is immutable
                  rule: has(self._id) == has(oldSelf._id)
              options:
                description: Options for the request to the Keycloak Admin API.
                nullable: true
                type: object
              patchFrom:
                additionalProperties:
                  description: EnvVarSource represents a source for the value of an EnvVar.
                  properties:
                    configMapKeyRef:
                      description: Selects a key of a ConfigMap.
                      properties:
                        key:
                          description: The key to select.
                          type: string
                        name:
                          description: 'Name of the referent. This field is effectively required, but due to backwards compatibility is allowed to be empty. Instances of this type with an empty value here are almost certainly wrong. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                          type: string
                        optional:
                          description: Specify whether the ConfigMap or its key must be defined
                          type: boolean
                      required:
                      - key
                      - name
                      type: object
                    fieldRef:
                      description: 'Selects a field of the pod: supports metadata.name, metadata.namespace, `metadata.labels[''<KEY>'']`, `metadata.annotations[''<KEY>'']`, spec.nodeName, spec.serviceAccountName, status.hostIP, status.podIP, status.podIPs.'
                      properties:
                        apiVersion:
                          description: Version of the schema the FieldPath is written in terms of, defaults to "v1".
                          type: string
                        fieldPath:
                          description: Path of the field to select in the specified API version.
                          type: string
                      required:
                      - fieldPath
                      type: object
                    resourceFieldRef:
                      description: 'Selects a resource of the container: only resources limits and requests (limits.cpu, limits.memory, limits.ephemeral-storage, requests.cpu, requests.memory and requests.ephemeral-storage) are currently supported.'
                      properties:
                        containerName:
                          description: 'Container name: required for volumes, optional for env vars'
                          type: string
                        divisor:
                          description: Specifies the output format of the exposed resources, defaults to "1"
                          type: string
                        resource:
                          description: 'Required: resource to select'
                          type: string
                      required:
                      - resource
                      type: object
                    secretKeyRef:
                      description: Selects a key of a secret in the pod's namespace
                      properties:
                        key:
                          description: The key of the secret to select from.  Must be a valid secret key.
                          type: string
                        name:
                          description: 'Name of the referent. This field is effectively required, but due to backwards compatibility is allowed to be empty. Instances of this type with an empty value here are almost certainly wrong. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                          type: string
                        optional:
                          description: Specify whether the Secret or its key must be defined
                          type: boolean
                      required:
                      - key
                      - name
                      type: object
                    valueAs:
                      enum:
                      - auto
                      - string
                      - number
                      - yaml
                      - json
                      - bool
                      nullable: true
                      type: string
                  type: object
                description: Defines additional values that can be loaded from secrets or configmaps. Field selectors are not supported. For more informations see [the patches documentation](../configuration/patches.md).
                type: object
            required:
            - clientRef
            - definition
            type: object
          status:
            nullable: true
            properties:
              conditions:
                items:
                  properties:
                    lastTransitionTime:
                      description: Time is a wrapper around time.Time which supports correct marshaling to YAML and JSON.  Wrappers are provided for many of the factory methods that the time package offers.
                      format: date-time
                      nullable: true
                      type: string
                    lastUpdateTime:
                      description: Time is a wrapper around time.Time which supports correct marshaling to YAML and JSON.  Wrappers are provided for many of the factory methods that the time package offers.
                      format: date-time
                      nullable: true
                      type: string
                    message:
                      nullable: true
                      type: string
                    reason:
                      nullable: true
                      type: string
                    status:
                      type: string
                    type:
                      type: string
                  required:
                  - status
                  - type
                  type: object
                nullable: true
                type: array
              message:
                type: string
              ready:
                type: boolean
              resourcePath:
                nullable: true
                type: string
              status:
                type: string
            required:
            - ready
            type: object
        required:
        - spec
        title: KeycloakResource
        type: object
    served: true
    storage: true
    subresources:
      status: {}
