apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: keycloakinstances.rustcloak.k8s.eboland.de
spec:
  group: rustcloak.k8s.eboland.de
  names:
    categories:
    - keycloak
    - all
    kind: KeycloakInstance
    plural: keycloakinstances
    shortNames:
    - kci
    singular: keycloakinstance
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: The base URL of the Keycloak instance
      jsonPath: .spec.baseUrl
      name: Base URL
      type: string
    - description: true if the realm is ready
      jsonPath: .status.ready
      name: Ready
      type: boolean
    - description: Status String of the resource
      jsonPath: .status.status
      name: Status
      type: string
    name: v1
    schema:
      openAPIV3Schema:
        description: This resource makes a Keycloak instance known to the operator
        properties:
          spec:
            properties:
              baseUrl:
                type: string
              client:
                nullable: true
                properties:
                  id:
                    type: string
                  secret:
                    nullable: true
                    type: string
                required:
                - id
                type: object
              credentials:
                properties:
                  create:
                    nullable: true
                    type: boolean
                  passwordKey:
                    nullable: true
                    type: string
                  secretName:
                    type: string
                  usernameKey:
                    nullable: true
                    type: string
                required:
                - secretName
                type: object
              realm:
                nullable: true
                type: string
              token:
                nullable: true
                properties:
                  expiresKey:
                    nullable: true
                    type: string
                  secretName:
                    nullable: true
                    type: string
                  tokenKey:
                    nullable: true
                    type: string
                type: object
            required:
            - baseUrl
            - credentials
            type: object
          status:
            nullable: true
            properties:
              conditions:
                items:
                  properties:
                    lastTransitionTime:
                      description: Time is a wrapper around time.Time which supports correct marshaling to YAML and JSON.  Wrappers are provided for many of the factory methods that the time package offers.
                      format: date-time
                      nullable: true
                      type: string
                    lastUpdateTime:
                      description: Time is a wrapper around time.Time which supports correct marshaling to YAML and JSON.  Wrappers are provided for many of the factory methods that the time package offers.
                      format: date-time
                      nullable: true
                      type: string
                    message:
                      nullable: true
                      type: string
                    reason:
                      nullable: true
                      type: string
                    status:
                      type: string
                    type:
                      type: string
                  required:
                  - status
                  - type
                  type: object
                nullable: true
                type: array
              message:
                type: string
              ready:
                type: boolean
              resourcePath:
                nullable: true
                type: string
              status:
                type: string
            required:
            - ready
            type: object
        required:
        - spec
        title: KeycloakInstance
        type: object
    served: true
    storage: true
    subresources:
      status: {}
